@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(./fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

* {
  background-color: #333;
}

body {
  font-family: Raleway;
  font-weight: black;
  color: #eee;
  text-align: center;
}

.title {
  font-size: 32pt;
  line-height: 36pt;
}

.highlight {
  color: #b3a5f1;
}
